mixin list(capsuleList)
  table.table
    thead
      tr
        th=__('list.capsuleName')
        th=__('list.productName')
    tbody
      for capsule in capsuleList
        tr
          td(scope="row"): a(href="/detail/#{capsule.id}")=capsule.nickName
          td=capsule.productName
