include ./mixin/capsuleList

extends layout
block title
  title= title
block content
  div.jumbotron
    h1 #{youCapsuleName} の融合

  div.container-fluid
    div.row.flex-items-xs-center
      div.col-md-6.col-xs-12
        ul.nav.nav-pills
          li.nav-item: a.nav-link.active(data-toggle="tab" href="#ultra" role="tab") 超人
          li.nav-item: a.nav-link(data-toggle="tab" href="#monster" role="tab") 怪獣
        div.tab-content
          div#ultra.tab-pane.active(role="tabpanel")
            +list(ultraList)
          div#monster.tab-pane(role="tabpanel")
            +list(monsterList)
