include ./mixin/fusionList

extends layout
block title
  title= title
block content
  div.jumbotron
    h1 #{youCapsuleName}の組み合わせ
    hr.my-2
    a.btn.btn-primary.btn-lg(href="/list" role="button") 一覧に戻る
  div.container-fluid
    div.row.flex-items-xs-center
      div.col-md-10.col-xs-12
        +list(fusionList)

