include ./mixin/capsuleList

extends layout
block content
  .jumbotron
    h1 #{__('list.title')}
    hr.my-2
    p!=__('list.description')
  .row.flex-items-xs-center
    .col-md-6.col-xs-12
      ul.nav.nav-pills
        li.nav-item: a.nav-link.active(data-toggle="tab" href="#ultra" role="tab") #{__('list.tab.ultra')}
        li.nav-item: a.nav-link(data-toggle="tab" href="#monster" role="tab") #{__('list.tab.monster')}
      .tab-content
        #ultra.tab-pane.active(role="tabpanel")
          +list(ultraList)
        #monster.tab-pane(role="tabpanel")
          +list(monsterList)